@use '../../styles/index';

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.Welcome {
  max-width: 45rem;
}

.percent {
  font-size: 8em;
  line-height: 1;
  text-align: left;
  margin-left: -0.05em;
  font-family: var(--font-serif);
}

.settings-button {
  position: fixed;
  right: 1rem;
  top: 1rem;
}

.total-units {
  color: #666;
  font-size: 1.5em;
}

.button-row {
  margin-top: 4rem;
}