@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/abril-fatface-v12-latin-regular.woff2') format('woff2');
}

:root {
  --color-primary-hue: 204;
  --color-primary-sat: 100%;
  --color-primary-lit: 50%;
  
  --color-primary: hsl(var(--color-primary-hue), var(--color-primary-sat), var(--color-primary-lit));
  --color-primary-darker: hsl(var(--color-primary-hue), var(--color-primary-sat), calc(var(--color-primary-lit) - 5%));
  --color-primary-darkest: hsl(var(--color-primary-hue), var(--color-primary-sat), calc(var(--color-primary-lit) - 10%)); 
  
  
  --font-serif: 'Abril Fatface', cursive;
  --font-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-sans-serif);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

h1 {
  font-size: 3em;
}

.field {
  margin-bottom: 1em;

  &__units {
    margin-left: 0.5em;
  }
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5em;
}

